
<style>
    /* for summernote insert link styles */
    .modal-dialog {
        z-index: 99999 !important;
    }
    .modal-dialog label {
        color: black;
    }
    .note-link-text .form-control {
        color: black;
    }
   .note-link-text .form-control input {
        color: black;
    }
    /*disapble insert link backdrop*/
    .modal-backdrop, .modal-backdrop.in, div.note-dropzone-message, div.note-dropzone {
        display: none !important;
    }
    /*disable link new window select*/
    .note-editor .link-dialog .checkbox {
        display: none;
    }
    /*disable dnd effect for summernote*/
    .note-editor .note-dropzone {
        opacity: 0 !important;
    }
    /**
    * For the correct positioning of the placeholder element, the dnd-list and
    * it's children must have position: relative
    */
    .typesDemo ul[dnd-list],
    .typesDemo ul[dnd-list] > li {
        position: relative;
    }

    /**
    * The dnd-list should always have a min-height,
    * otherwise you can't drop to it once it's empty
    */
    .typesDemo ul[dnd-list] {
        min-height: 42px;
        padding-left: 0px;
    }

        /**
    * The dndDraggingSource class will be applied to
    * the source element of a drag operation. It makes
    * sense to hide it to give the user the feeling
    * that he's actually moving it.
    */
        .typesDemo ul[dnd-list] .dndDraggingSource {
            display: none;
        }

        /**
    * An element with .dndPlaceholder class will be
    * added to the dnd-list while the user is dragging
    * over it.
    */
        .typesDemo ul[dnd-list] .dndPlaceholder {
            display: block;
            background-color: #ddd;
            min-height: 42px;
        }

        /**
    * The dnd-lists's child elements currently MUST have
    * position: relative. Otherwise we can not determine
    * whether the mouse pointer is in the upper or lower
    * half of the element we are dragging over. In other
    * browsers we can use event.offsetY for this.
    */
        .typesDemo ul[dnd-list] li {
            background-color: #fff;
            border: 1px solid #ddd;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            display: block;
            padding: 2px 5px;
            margin-bottom: -1px;
            /* Disable text selection if item is not draggable */
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

    .Topic {
        color: #4070A0;
    }

    .Subsection {
        color: #FA4D40;
    }

    .Question {
        color: #76975A;
    }

    .Command {
        color: #F7AB29;
    }

    .typesDemo ul[dnd-list] li {
        max-width: 98%;
        border-color: transparent;
        background-color: transparent;
    }

        .typesDemo ul[dnd-list] li.Topic {
            border-color: #9DC4EA;
        }

        .typesDemo ul[dnd-list] li.Subsection {
            border-color: #FE9189;
        }

        .typesDemo ul[dnd-list] li.Question {
            border-color: #B1D790;
        }

        .typesDemo ul[dnd-list] li.Command {
            border-color: #FFDA97;
        }

    .glyphicon-plus-sign {
        margin-left: 3px;
    }

    .glyphicon {
        cursor: pointer;
    }
    /**
    * Handle positioning
    */
    .typesDemo .handle {
        padding: 1px 3px;
        cursor: move;
        position: absolute;
        top: 14px;
    }

    .typesDemo .content {
        margin-left: 5px;
    }

    /* delete sign positioning */
    .typesDemo .deleteSign {
        cursor: pointer;
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: large;
    }

    a {
        cursor: pointer;
    }

    .typesDemo .deleteSign > span {
        background-color: white;
    }

    div .typesDemo {
        margin-bottom: 5px;
    }


@media print 
{
    .cPrint  
    {
        max-width: none !important;
        max-height: none !important;
        display: block;
        overflow: visible !important;
        page-break-inside: avoid;
    }
    .cScreenOnly { display: none !important; }
    input {
        display: none;
    }
}
</style>

<div>
    <div ng-show="Topics.length > 0" layout="row" layout-align="end">
        <a ng-click="ControlAllTopicsExpand(true)" style="color: #1fa6b2;">
            Expand All
        </a>
        <a ng-click="ControlAllTopicsExpand(false)" style="margin-left: 5px; color: #1fa6b2;">
            Collapse All
        </a>
    </div>

    <div ng-repeat="Topic in Topics | orderBy : 'OrderNumber'" class="typesDemo" layout="column">

        <md-subheader class="md-no-sticky Subsection cScreenOnly" ng-show="!isAllowEdit">
            {{Topic.State.StateName}}
        </md-subheader>

        <!--topic level elements and control buttons-->
        <div layout="column" layout-fill>
            <div layout="row" layout-wrap>
                <div flex="95">
                    <a ng-click="toggleExpand(Topic)" ng-show="!Topic.ctrl_IsEdit">
                        <span ng-class="{'glyphicon glyphicon-menu-right': !Topic.ctrl_IsExpand, 'glyphicon glyphicon-menu-down': Topic.ctrl_IsExpand}"></span>
                        {{Topic.Subject}}
                    </a>
                </div>
                <div class="cScreenOnly" ng-show="isAdmin===true && !Topic.ctrl_IsEdit && isAllowEdit" flex="5" layout="row">
                    <span class="glyphicon glyphicon-edit" ng-click="EditTopic(Topic)" style="margin-left: 3px;"></span>
                    <span class="glyphicon glyphicon-trash" ng-click="DeleteTopic(Topic)" style="margin-left: 5px;"></span>
                </div>
            </div>
            <div class="cScreenOnly" layout="row" layout-wrap>
                <md-input-container class="md-block" ng-show="Topic.ctrl_IsEdit" flex="90">
                    <label>Topic</label>
                    <textarea ng-model="Topic.Subject" md-maxlength="200" rows="2"></textarea>
                </md-input-container>
                <div ng-show="Topic.ctrl_IsEdit" flex="10">
                    <md-button class="md-fab md-mini" aria-label="Save Topic" ng-click="SaveChangeTopic(Topic)">
                        <md-tooltip md-direction="top">
                            Save Topic
                        </md-tooltip>
                        <md-icon class="material-icons">save</md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" aria-label="Cancel Topic" ng-click="CancelChangeTopic(Topic)">
                        <md-tooltip md-direction="top">
                            Cancel
                        </md-tooltip>
                        <md-icon class="material-icons">cancel</md-icon>
                    </md-button>
                </div>
            </div>

            <div layout="column">
                <!-- Topic Text Content -->
                <div flex style="padding-left:20px;" ng-show="(Topic.ctrl_IsExpand && Topic.tree_Value) || (Topic.ctrl_IsEdit && Topic.tree_Subsections.length == 0)">
                    <div ng-show="!Topic.ctrl_IsEdit" ng-bind-html="Topic.tree_Value"></div>
                    <summernote height="100" ng-init="" ng-if="Topic.ctrl_IsEdit" ng-model="Topic.tree_Value"></summernote>
                </div>
            </div>
        </div>

        <!--tree json start - subsections-->
        <div ng-show="Topic.ctrl_IsExpand || Topic.ctrl_IsEdit">
            <md-subheader class="md-no-sticky Subsection cScreenOnly" ng-show="Topic.ctrl_IsEdit && !Topic.tree_Value">
                Subsections
                <span id="btnAddSubsection" class="glyphicon glyphicon-plus-sign" ng-click="addSubsection(Topic.tree_Subsections)"></span>
            </md-subheader>

            <ul dnd-list="Topic.tree_Subsections"
                dnd-allowed-types="['Subsection']">
                <li ng-repeat="Subsection in Topic.tree_Subsections"
                    dnd-draggable="Subsection"
                    dnd-type="'Subsection'"
                    dnd-moved="Topic.tree_Subsections.splice($index, 1)"
                    dnd-disable-if="!Topic.ctrl_IsEdit"
                    dnd-effect-allowed="move"
                    ng-class="{'Subsection': Topic.ctrl_IsEdit}">

                    <div class="handle" ng-show="Topic.tree_Subsections.length > 1 && Topic.ctrl_IsEdit">
                        <span class="glyphicon glyphicon-move"></span>
                    </div>

                    <div class="content" dnd-nodrag>
                        <div layout="column">
                            <div flex style="margin-left: 5px;">
                                <a ng-click="toggleExpand(Subsection)" ng-show="!Topic.ctrl_IsEdit">
                                    <span ng-class="{'glyphicon glyphicon-menu-right': !Subsection.ctrl_IsExpand, 'glyphicon glyphicon-menu-down': Subsection.ctrl_IsExpand}"></span>
                                    {{Subsection.tree_Name}}
                                </a>
                                <md-input-container class="md-block cScreenOnly" ng-show="Topic.ctrl_IsEdit" flex-gt-sm>
                                    <label>Subsection</label>
                                    <textarea ng-model="Subsection.tree_Name" rows="2"></textarea>
                                </md-input-container>
                            </div>
                            <!-- Subsection Node-->
                            <div flex style="padding-left:20px;" ng-show="(Subsection.ctrl_IsExpand && Subsection.tree_Value) || (Topic.ctrl_IsEdit && Subsection.tree_Questions.length == 0)">
                                <div ng-show="!Topic.ctrl_IsEdit" ng-bind-html="Subsection.tree_Value"></div>
                                <summernote height="100" ng-if="Topic.ctrl_IsEdit" ng-model="Subsection.tree_Value"></summernote>
                            </div>
                        </div>

                        <div class="content" ng-show="Subsection.ctrl_IsExpand || Topic.ctrl_IsEdit">
                            <md-subheader class="md-no-sticky cScreenOnly" style="color:darkseagreen" ng-show="Topic.ctrl_IsEdit && !Subsection.tree_Value">
                                Questions
                                <span id="btnAddQuestion" class="glyphicon glyphicon-plus-sign" ng-click="addQuestion(Subsection.tree_Questions)"></span>
                            </md-subheader>

                            <ul dnd-list="Subsection.tree_Questions"
                                dnd-allowed-types="['Question']" ng-show="Subsection.tree_Questions.length > 0">
                                <!-- Toggle Questions OR Subsection Value-->
                                <li ng-repeat="Question in Subsection.tree_Questions"
                                    dnd-draggable="Question"
                                    dnd-type="'Question'"
                                    dnd-moved="Subsection.tree_Questions.splice($index, 1)"
                                    dnd-disable-if="!Topic.ctrl_IsEdit"
                                    dnd-effect-allowed="move"
                                    ng-class="{'Question': Topic.ctrl_IsEdit}">
                                    <div class="handle" ng-show="Subsection.tree_Questions.length > 1 && Topic.ctrl_IsEdit">
                                        <span class="glyphicon glyphicon-move"></span>
                                    </div>

                                    <div class="content" dnd-nodrag>
                                        <div layout="column" style="margin-left: 5px;">
                                            <div>
                                                <a ng-click="toggleExpand(Question)" ng-show="!Topic.ctrl_IsEdit">
                                                    <span ng-class="{'glyphicon glyphicon-menu-right': !Question.ctrl_IsExpand, 'glyphicon glyphicon-menu-down': Question.ctrl_IsExpand}"></span>
                                                    {{Question.tree_Name}}
                                                </a>
                                                <md-input-container class="md-block cScreenOnly" ng-show="Topic.ctrl_IsEdit" flex-gt-sm>
                                                    <label>Question</label>
                                                    <textarea ng-model="Question.tree_Name" rows="2"></textarea>
                                                </md-input-container>
                                            </div>

                                            <!--Question Node-->
                                            <div ng-show="Question.ctrl_IsExpand || Topic.ctrl_IsEdit">
                                                <div style="padding: 5px 2px; margin-left: 10px;" ng-show="!Topic.ctrl_IsEdit" ng-bind-html="Question.tree_Value"></div>
                                                <!--<div summernote ng-model="Question.Value"></div>-->
                                                <summernote height="100" ng-if="Topic.ctrl_IsEdit" ng-model="Question.tree_Value"></summernote>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="deleteSign">
                                        <span ng-show="Topic.ctrl_IsEdit" ng-click="Subsection.tree_Questions.splice($index, 1)" class="glyphicon glyphicon-remove-sign hand"></span>
                                    </div>
                                </li>
                                <li class="dndPlaceholder Question">
                                    Drop any <strong>Question</strong> here
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="deleteSign">
                        <span ng-show="Topic.ctrl_IsEdit" ng-click="Topic.tree_Subsections.splice($index, 1)" class="glyphicon glyphicon-remove-sign hand"></span>
                    </div>
                </li>
                <li class="dndPlaceholder Subsection">
                    Drop any <strong>Subsection</strong> here
                </li>
            </ul>
        </div>
    </div>
</div>