body {
    font-family: 'Century Gothic';
}

@media print 
{
    md-content {
        overflow: visible !important;
    }
    .cPrint  
    {
        max-width: none !important;
        max-height: none !important;
        display: block;
        overflow: visible !important;
        page-break-inside: avoid;
    }
    .cScreenOnly { display: none !important; }
}