<style>
    div.footer-bottom > ol,ul{
        list-style:none;
        margin-left: 5px;
        padding-left: 5px;
    }
    .footer-bottom{
        font-size: smaller;
    }
    .footer-bottom p,.footer-bottom a{
        color:#fff;
        text-shadow:1px 1px 0 #5d6868;
        font-family:'Myriad W01 Regular',Arial,Helvetica,sans-serif;
    }
    .footer-bottom-content{
        width: 80vw;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    a.open-footer-link{
        font: 16px/20px 'Oswald Regular',Arial,Helvetica,sans-serif;
        font-weight: bold;
    }
    a.title{
        font: 20px/24px 'Oswald Regular',Arial,Helvetica,sans-serif;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .vcard{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .vcard > p{
        padding: 0px;
        margin: 0px;
    }
    .street-address{
        display: block;
    }
</style>

<div class="footer-bottom" layout="row" layout-wrap>
    <div class="footer-bottom-content" layout="row" layout-wrap>
        <div class="box-address" flex="25">
            <div>
                <div class="vcard">
                    <a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/boston" class="title">
                        Boston
                    </a>
                    <p class="adr">
                        <span class="street-address">
                            Seaport West
                        </span>
                        <span class="street-address">
                            155 Seaport Boulevard
                        </span>
                        <span class="street-address">

                        </span>
                        <span class="locality">Boston</span>, <span class="region">MA US</span>
                        <span class="postal-code">
                            02210-2600
                        </span>
                    </p>
                    <p>
                        tel: <span class="tel">
                            617.832.1000
                        </span>
                    </p>
                    <p>
                        fax: <span class="fax">
                            617.832.7000
                        </span>
                    </p>
                    <div layout="row">
                        <div flex="25"><a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/boston/directions">Directions &raquo;</a>|</div>
                        <div flex><a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/boston">Details &raquo;</a></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="vcard">
                    <a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/new-york" class="title">
                        New York
                    </a>
                    <p class="adr">
                        <span class="street-address">
                            1540 Broadway
                        </span>
                        <span class="street-address">
                            23rd Floor
                        </span>
                        <span class="street-address">

                        </span>
                        <span class="locality">New York</span>, <span class="region">NY US</span>
                        <span class="postal-code">
                            10036
                        </span>
                    </p>
                    <p>
                        tel: <span class="tel">
                            646.927.5500
                        </span>
                    </p>
                    <p>
                        fax: <span class="fax">
                            646.927.5599
                        </span>
                    </p>

                    <div layout="row">
                        <div flex="25"><a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/new-york/directions">Directions &raquo;</a>|</div>
                        <div flex><a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/new-york">Details &raquo;</a></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="vcard">
                    <a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/paris" class="title">
                        Paris
                    </a>
                    <p class="adr">
                        <span class="street-address">
                            153 rue du Faubourg Saint-Honor&#233;
                        </span>
                        <span class="street-address">

                        </span>
                        <span class="street-address">

                        </span>
                        <span class="locality">75008 Paris</span>, <span class="region">France </span>
                        <span class="postal-code">

                        </span>
                    </p>
                    <p>
                        tel: <span class="tel">
                            +33.01.70.36.61.30
                        </span>
                    </p>
                    <p>
                        fax: <span class="fax">
                            +33.01.70.36.61.31
                        </span>
                    </p>
                    <div layout="row">
                        <div flex="25"><a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/paris/directions">Directions &raquo;</a>|</div>
                        <div flex><a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/paris">Details &raquo;</a></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="vcard">
                    <a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/washington-dc" class="title">
                        Washington, D.C.
                    </a>
                    <p class="adr">
                        <span class="street-address">
                            1717 K Street, N.W.
                        </span>
                        <span class="street-address">

                        </span>
                        <span class="street-address">

                        </span>
                        <span class="locality">Washington</span>, <span class="region">D.C. US</span>
                        <span class="postal-code">
                            20006-5350
                        </span>
                    </p>
                    <p>
                        tel: <span class="tel">
                            202.223.1200
                        </span>
                    </p>
                    <p>
                        fax: <span class="fax">
                            202.785.6687
                        </span>
                    </p>
                    <div layout="row">
                        <div flex="25"><a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/washington-dc/directions">Directions &raquo;</a>|</div>
                        <div flex><a target="_blank" href="http://www.foleyhoag.com/our-firm/offices/washington-dc">Details &raquo;</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-links" flex layout="row">
            <div flex>
                <ul>
                    <li>
                        <a target="_blank" class="open-footer-link" href="http://www.foleyhoag.com/people">Our People</a>

                        <ul></ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a target="_blank" class="open-footer-link" href="http://www.foleyhoag.com/industries">Industries</a>

                        <ul>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/industries/education">Education</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/industries/energy-and-cleantech">Energy &amp; Cleantech</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/industries/healthcare">Healthcare</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/industries/investment-management">Investment Management</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/industries/life-sciences">Life Sciences</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/industries/professional-services">Professional Services</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/industries/sovereign-states">Sovereign States</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/industries/technology">Technology</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a target="_blank" class="open-footer-link" href="http://www.foleyhoag.com/practices">Practices</a>

                        <ul>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/practices#by-alphabet">Practices A-Z</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/practices#by-category">Practices by Category</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div flex>
                <ul>
                    <li>
                        <a target="_blank" class="open-footer-link" href="http://www.foleyhoag.com/publications">Publications</a>

                        <ul>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/publications/alerts-and-updates">Alerts &amp; Updates</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/publications/ebooks-and-white-papers">eBooks &amp; White Papers</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a target="_blank" class="open-footer-link" href="http://www.foleyhoag.com/news-and-events">News &amp; Events</a>

                        <ul>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/news-and-events/news">News</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/news-and-events/events">Events</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/news-and-events/media-center">Media Center</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a target="_blank" class="open-footer-link" href="http://www.foleyhoag.com/publications/blogs">Blogs</a>

                        <ul>
                            <li>
                                <a class="" href="http://www.csrandthelaw.com/" target="_blank">Corporate Social Responsibility and the Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.energycleantechcounsel.com" target="_blank">Energy &amp; Cleantech Counsel</a>
                            </li>
                            <li>
                                <a class="" href="http://www.infrastructureandconstructionlaw.com/" target="_blank">Infrastructure &amp; Construction Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.lawandenvironment.com/" target="_blank">Law &amp; the Environment</a>
                            </li>
                            <li>
                                <a class="" href="http://www.masslaborandemploymentlaw.com/" target="_blank">Massachusetts Labor &amp; Employment Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.massachusettsnoncompetelaw.com/" target="_blank">Massachusetts Noncompete Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.medicaidandthelaw.com/" target="_blank">Medicaid &amp; the Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.ptab-blog.com/" target="_blank">PTAB Blog</a>
                            </li>
                            <li>
                                <a class="" href="http://www.securityprivacyandthelaw.com/" target="_blank">Security, Privacy and the Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.stateaginsights.com/" target="_blank">State AG Insights</a>
                            </li>
                            <li>
                                <a class="" href="http://www.trademarkandcopyrightlawblog.com/" target="_blank">Trademark &amp; Copyright Law</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div flex>
                <ul>
                    <li>
                        <a target="_blank" class="open-footer-link" href="http://www.foleyhoag.com/careers">Careers</a>

                        <ul>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/careers/lawyers">Lawyers</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/careers/technology-specialists">Technology Specialists</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/careers/paralegals">Paralegals</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/careers/business-professionals">Business Professionals</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/careers/current-openings">Current Openings</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/practices/litigation/pro-bono">Pro Bono</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://recruiting.foleyhoag.com/" target="_blank">Summer Program</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a target="_blank" class="open-footer-link" href="http://www.foleyhoag.com/our-firm">Our Firm</a>

                        <ul>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/our-firm/history">History</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/our-firm/management-team">Management Team</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/practices/litigation/pro-bono">Pro Bono</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/our-firm/technology-and-entrepreneurship">Technology &amp; Entrepreneurship</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/our-firm/lex-mundi">Lex Mundi</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/our-firm/the-foley-hoag-foundation">The Foley Hoag Foundation</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/our-firm/offices">Offices</a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="http://www.foleyhoag.com/our-firm/rankings-and-accolades">Rankings and Accolades</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>