<style>
    ol,ul{
        list-style:none;
        margin-left: 5px;
        padding-left: 5px;
    }
    .footer-bottom{
        font-size: smaller;
    }
    .footer-bottom p,.footer-bottom a{
        color:#fff;
        text-shadow:1px 1px 0 #5d6868;
        font-family:'Myriad W01 Regular',Arial,Helvetica,sans-serif;
    }
    .footer-bottom-content{
        width: 80vw;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    a.open-footer-link{
        font: 16px/20px 'Oswald Regular',Arial,Helvetica,sans-serif;
        font-weight: bold;
    }
    a.title{
        font: 20px/24px 'Oswald Regular',Arial,Helvetica,sans-serif;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .vcard{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .vcard > p{
        padding: 0px;
        margin: 0px;
    }
    .street-address{
        display: block;
    }
</style>

<div class="footer-bottom" layout="row" layout-wrap>
    <div class="footer-bottom-content" layout="row" layout-wrap>
        <div class="box-address" flex="25">
            <div>
                <div class="vcard">
                    <a href="/our-firm/offices/boston" class="title">
                        Boston
                    </a>
                    <p class="adr">
                        <span class="street-address">
                            Seaport West
                        </span>
                        <span class="street-address">
                            155 Seaport Boulevard
                        </span>
                        <span class="street-address">

                        </span>
                        <span class="locality">Boston</span>, <span class="region">MA US</span>
                        <span class="postal-code">
                            02210-2600
                        </span>
                    </p>
                    <p>
                        tel: <span class="tel">
                            617.832.1000
                        </span>
                    </p>
                    <p>
                        fax: <span class="fax">
                            617.832.7000
                        </span>
                    </p>
                    <div layout="row">
                        <div flex><a href="/our-firm/offices/boston/directions">Directions &raquo;</a>|</div>
                        <div flex><a href="/our-firm/offices/boston">Details &raquo;</a></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="vcard">
                    <a href="/our-firm/offices/new-york" class="title">
                        New York
                    </a>
                    <p class="adr">
                        <span class="street-address">
                            1540 Broadway
                        </span>
                        <span class="street-address">
                            23rd Floor
                        </span>
                        <span class="street-address">

                        </span>
                        <span class="locality">New York</span>, <span class="region">NY US</span>
                        <span class="postal-code">
                            10036
                        </span>
                    </p>
                    <p>
                        tel: <span class="tel">
                            646.927.5500
                        </span>
                    </p>
                    <p>
                        fax: <span class="fax">
                            646.927.5599
                        </span>
                    </p>

                    <div layout="row">
                        <div flex><a href="/our-firm/offices/new-york/directions">Directions &raquo;</a>|</div>
                        <div flex><a href="/our-firm/offices/new-york">Details &raquo;</a></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="vcard">
                    <a href="/our-firm/offices/paris" class="title">
                        Paris
                    </a>
                    <p class="adr">
                        <span class="street-address">
                            153 rue du Faubourg Saint-Honor&#233;
                        </span>
                        <span class="street-address">

                        </span>
                        <span class="street-address">

                        </span>
                        <span class="locality">75008 Paris</span>, <span class="region">France </span>
                        <span class="postal-code">

                        </span>
                    </p>
                    <p>
                        tel: <span class="tel">
                            +33.01.70.36.61.30
                        </span>
                    </p>
                    <p>
                        fax: <span class="fax">
                            +33.01.70.36.61.31
                        </span>
                    </p>
                    <div layout="row">
                        <div flex><a href="/our-firm/offices/paris/directions">Directions &raquo;</a>|</div>
                        <div flex><a href="/our-firm/offices/paris">Details &raquo;</a></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="vcard">
                    <a href="/our-firm/offices/washington-dc" class="title">
                        Washington, D.C.
                    </a>
                    <p class="adr">
                        <span class="street-address">
                            1717 K Street, N.W.
                        </span>
                        <span class="street-address">

                        </span>
                        <span class="street-address">

                        </span>
                        <span class="locality">Washington</span>, <span class="region">D.C. US</span>
                        <span class="postal-code">
                            20006-5350
                        </span>
                    </p>
                    <p>
                        tel: <span class="tel">
                            202.223.1200
                        </span>
                    </p>
                    <p>
                        fax: <span class="fax">
                            202.785.6687
                        </span>
                    </p>
                    <div layout="row">
                        <div flex><a href="/our-firm/offices/washington-dc/directions">Directions &raquo;</a>|</div>
                        <div flex><a href="/our-firm/offices/washington-dc">Details &raquo;</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-links" flex layout="row">
            <div flex>
                <ul>
                    <li>
                        <a class="open-footer-link" href="/people" target="">Our People</a>

                        <ul></ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="open-footer-link" href="/industries" target="">Industries</a>

                        <ul>
                            <li>
                                <a class="" href="/industries/education" target="">Education</a>
                            </li>
                            <li>
                                <a class="" href="/industries/energy-and-cleantech" target="">Energy &amp; Cleantech</a>
                            </li>
                            <li>
                                <a class="" href="/industries/healthcare" target="">Healthcare</a>
                            </li>
                            <li>
                                <a class="" href="/industries/investment-management" target="">Investment Management</a>
                            </li>
                            <li>
                                <a class="" href="/industries/life-sciences" target="">Life Sciences</a>
                            </li>
                            <li>
                                <a class="" href="/industries/professional-services" target="">Professional Services</a>
                            </li>
                            <li>
                                <a class="" href="/industries/sovereign-states" target="">Sovereign States</a>
                            </li>
                            <li>
                                <a class="" href="/industries/technology" target="">Technology</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="open-footer-link" href="/practices" target="">Practices</a>

                        <ul>
                            <li>
                                <a class="" href="/practices#by-alphabet" target="">Practices A-Z</a>
                            </li>
                            <li>
                                <a class="" href="/practices#by-category" target="">Practices by Category</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div flex>
                <ul>
                    <li>
                        <a class="open-footer-link" href="/publications" target="">Publications</a>

                        <ul>
                            <li>
                                <a class="" href="/publications/alerts-and-updates" target="">Alerts &amp; Updates</a>
                            </li>
                            <li>
                                <a class="" href="/publications/ebooks-and-white-papers" target="">eBooks &amp; White Papers</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="open-footer-link" href="/news-and-events" target="">News &amp; Events</a>

                        <ul>
                            <li>
                                <a class="" href="/news-and-events/news" target="">News</a>
                            </li>
                            <li>
                                <a class="" href="/news-and-events/events" target="">Events</a>
                            </li>
                            <li>
                                <a class="" href="/news-and-events/media-center" target="">Media Center</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="open-footer-link" href="/publications/blogs" target="">Blogs</a>

                        <ul>
                            <li>
                                <a class="" href="http://www.csrandthelaw.com/" target="_blank">Corporate Social Responsibility and the Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.energycleantechcounsel.com" target="_blank">Energy &amp; Cleantech Counsel</a>
                            </li>
                            <li>
                                <a class="" href="http://www.infrastructureandconstructionlaw.com/" target="_blank">Infrastructure &amp; Construction Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.lawandenvironment.com/" target="_blank">Law &amp; the Environment</a>
                            </li>
                            <li>
                                <a class="" href="http://www.masslaborandemploymentlaw.com/" target="_blank">Massachusetts Labor &amp; Employment Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.massachusettsnoncompetelaw.com/" target="_blank">Massachusetts Noncompete Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.medicaidandthelaw.com/" target="_blank">Medicaid &amp; the Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.ptab-blog.com/" target="">PTAB Blog</a>
                            </li>
                            <li>
                                <a class="" href="http://www.securityprivacyandthelaw.com/" target="_blank">Security, Privacy and the Law</a>
                            </li>
                            <li>
                                <a class="" href="http://www.stateaginsights.com/" target="_blank">State AG Insights</a>
                            </li>
                            <li>
                                <a class="" href="http://www.trademarkandcopyrightlawblog.com/" target="_blank">Trademark &amp; Copyright Law</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div flex>
                <ul>
                    <li>
                        <a class="open-footer-link" href="/careers" target="">Careers</a>

                        <ul>
                            <li>
                                <a class="" href="/careers/lawyers" target="">Lawyers</a>
                            </li>
                            <li>
                                <a class="" href="/careers/technology-specialists" target="">Technology Specialists</a>
                            </li>
                            <li>
                                <a class="" href="/careers/paralegals" target="">Paralegals</a>
                            </li>
                            <li>
                                <a class="" href="/careers/business-professionals" target="">Business Professionals</a>
                            </li>
                            <li>
                                <a class="" href="/careers/current-openings" target="">Current Openings</a>
                            </li>
                            <li>
                                <a class="" href="/practices/litigation/pro-bono" target="">Pro Bono</a>
                            </li>
                            <li>
                                <a class="" href="http://recruiting.foleyhoag.com/" target="_blank">Summer Program</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="open-footer-link" href="/our-firm" target="">Our Firm</a>

                        <ul>
                            <li>
                                <a class="" href="/our-firm/history" target="">History</a>
                            </li>
                            <li>
                                <a class="" href="/our-firm/management-team" target="">Management Team</a>
                            </li>
                            <li>
                                <a class="" href="/practices/litigation/pro-bono" target="">Pro Bono</a>
                            </li>
                            <li>
                                <a class="" href="/our-firm/technology-and-entrepreneurship" target="">Technology &amp; Entrepreneurship</a>
                            </li>
                            <li>
                                <a class="" href="/our-firm/lex-mundi" target="">Lex Mundi</a>
                            </li>
                            <li>
                                <a class="" href="/our-firm/the-foley-hoag-foundation" target="">The Foley Hoag Foundation</a>
                            </li>
                            <li>
                                <a class="" href="/our-firm/offices" target="">Offices</a>
                            </li>
                            <li>
                                <a class="" href="/our-firm/rankings-and-accolades" target="">Rankings and Accolades</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>