<style>
    .login-panel-left {
        background: #f1f1f1 url(../images/bg_pattern.png);
        padding: 15px;
        overflow: scroll;
        overflow-x: hidden;
        max-height: 400px;
    }
    .login-panel-right-wrapper {
        background: linear-gradient(#3683b1,#204e6a);
        background-image: linear-gradient(rgb(54, 131, 177), rgb(32, 78, 106));
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 0px;
    }
    .login-panel-right {
        background-image: url(../images/bg_pattern.png);
        padding: 80px 30px;
        height: 100%;
        width: 100%;
    }
</style>


<div layout ="row" layout-align="center center" style="height:100vh;width:100vw;">
    <div layout="column" layout-align="center center">
        <md-content style="width:80vw; height: 500px" layout="row">
            <div class="login-panel-left" flex="60">
                <h5>NOTICE</h5>
                <p>
                    The materials on this website are intended to provide a brief summary of the state laws

                    regulating the relationships between the manufacturers of certain products and dealers or

                    distributors. These materials are not exhaustive and should not be construed as legal advice or

                    opinion with respect to any specific facts or circumstances. NO LEGAL ACTION SHOULD BE

                    UNDERTAKEN WITHOUT CONSULTING HONDA NORTH AMERICA LEGAL DEPARTMENT (“HNA

                    Legal”). Website users must consult with HNA Legal before initiating termination of a dealer or

                    distributor, applying chargebacks against a dealer or distributor for any incentive or warranty

                    payments made to the dealer or distributor, or taking any other legal action against a dealer or

                    distributor.
                </p>
                <p>
                    The materials on this website are intended to provide a brief summary of the state laws

                    regulating the relationships between the manufacturers of certain products and dealers or

                    distributors. These materials are not exhaustive and should not be construed as legal advice or

                    opinion with respect to any specific facts or circumstances. NO LEGAL ACTION SHOULD BE

                    UNDERTAKEN WITHOUT CONSULTING HONDA NORTH AMERICA LEGAL DEPARTMENT (“HNA

                    Legal”). Website users must consult with HNA Legal before initiating termination of a dealer or

                    distributor, applying chargebacks against a dealer or distributor for any incentive or warranty

                    payments made to the dealer or distributor, or taking any other legal action against a dealer or

                    distributor.
                </p>
                <p>
                    The information on this website is subject to change at any time without notice. While the

                    material is reviewed regularly for updates, new case law and legislative materials may render

                    some of the material inoperative or inapplicable, and Foley Hoag LLP makes no promise that the

                    information contained on this website is current and complete.
                </p>
                <p>
                    This website may contain links to statutes or other internet resources. These links are not

                    intended to be referrals to, or endorsements of, any of the linked entities or the information that

                    they make available. Foley Hoag LLP is not sponsored by, or affiliated with, any of the entities

                    associated with any of the links contained on this website.
                </p>
            </div>
            <div class="login-panel-right-wrapper" flex>
                <div class="login-panel-right">
                    <div class="text-center"><img width="243" height="53" src="../images/logo_footer.png"></div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</div>
