
<style>
    md-nav-bar .md-nav-bar {
      border-top: 2px solid darkgrey;
    }
    img{
        padding: 0px 8px;
         vertical-align:text-bottom;
    }
    div.md-nav-bar{
        background-color: #3E3B3B;
        color: white;
        padding: 2px;
    }
    ._md-nav-button-text{
        color: white;
    }
    li.md-nav-item:not(:last-child) {
        font-weight: bolder;
        text-align: center;
        padding:0px;
    }
    li.md-nav-item:not(:last-child) {
        border-right: none;
        font-weight: bolder;
        text-align: center;
    }
    .top-banner{
        background-image: linear-gradient(to right, rgba(251, 251, 251, 0.772549) 0%, rgba(251, 251, 251, 0.772549) 82%, rgba(255, 255, 255, 0.498039) 100%);
        padding:5px 0px;
    }
</style>


<div class="cPrint">
    <md-content class="md-padding cPrint" style="background-color:transparent; padding-top: 0px;">
        <div layout-fill layout="column" class="cPrint">
            <div layout="row" layout-wrap class="top-banner cScreenOnly">
                <div flex="80" layout="row" style="padding: 10px 2px 5px 2px; vertical-align:text-bottom;">
                    <img width="243" height="53" src="../images/FH-logo-Honda.png"/>
                    <img width="268" height="80" src="../images/honda_marine_logo.jpg"/>
                    <img width="158" height="80" src="../images/Power_Equipment_Logo_C1x1.JPG"/>
                </div>
                <div flex style="padding:2px; vertical-align:text-bottom;">
                    <div class="text-center" ng-if="!isAuthenticated">
                        <p>You are not yet authenticated. <a href="#/login">Log in.</a></p>
                    </div>
                    <div ng-if="isAuthenticated">
                        <p>Thank you for logging in! <span style="margin-left:10px;" ng-if="isAdmin===true">Admin</span><md-button ng-click="authService.logout()">Logout</md-button></p>
                        
                    </div>
                </div>
            </div>

            <!--Main Nav-->
            <div layout-wrap layout-align="center" class="cScreenOnly">
                <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" class="cScreenOnly">
                    <div layout="row" layout-align="center" class="cScreenOnly" flex>
                        <md-nav-item class="cScreenOnly" md-nav-sref="hondaWeb.home" name="Summaries" value="Summaries">Summaries</md-nav-item>
                    </div>
                    <div layout="row" layout-align="center" class="cScreenOnly" flex>
                        <md-nav-item class="cScreenOnly" md-nav-sref="hondaWeb.statutes" name="Statutes" value="Statutes">Statutes</md-nav-item>
                    </div>
                    <!--<div ng-if="isAdmin" layout="row" layout-align="center" class="cScreenOnly" flex>
                        <md-nav-item class="cScreenOnly" md-nav-sref="hondaWeb.profile" name="Profile" value="Profile">My Profile</md-nav-item>
                    </div>-->
                </md-nav-bar>
            </div>
            
            <!--page title-->
            <div class="cScreenOnly" style="padding:10px 5px; font-weight:bold;" flex="5">
                <h5>{{currentNavItem}}</h5>
            </div>

            <!--page-->
            <ui-view></ui-view>
        </div>
    </md-content>
</div>