<div class="container-fluid" style="max-width:85vw;padding:0px !important">
    
    <md-content>
        <md-tabs md-border-bottom style="min-height: 600px;">
            <md-tab label="Profile">
                <md-content class="md-padding" style="min-height: 530px;" layout="column" layout-fill>
                    
                    <!--<img [src]="auth.userProfile.picture" alt="" class="profile-img">-->
                    <div>
                        <h3>Profile</h3>
                        <p><strong>Name: </strong> {{profile.name}}</p>
                        <p><strong>Email: </strong> {{profile.email}}</p>
                        <p><strong>Nickname: </strong> {{profile.nickname}}</p>
                        <p><strong>Created At: </strong> {{profile.created_at}}</p>
                        <p><strong>Updated At: </strong> {{profile.updated_at}}</p>
                    </div>
                    <div style="display: none;">
                        <md-button ng-click="sendChangePwEmail()">
                            Send Change Password Email
                        </md-button>
                    </div>

                </md-content>
            </md-tab>
            <md-tab label="Create Account" ng-if="isAdmin">
                <md-content class="md-padding" style="min-height: 530px;" layout="column" layout-fill>

                    <div layout="row" flex="15">
                        
                    </div>

                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>


</div>