<div layout="column" layout-fill ng-if="NoteObj">
    <div layout="row" layout-wrap flex="95">
        <div ng-if="!NoteObj.ctrl_IsEdit" ng-bind-html="NoteObj.Note"></div>
    </div>
    <div layout="row" layout-wrap>
        <md-input-container class="md-block" ng-if="NoteObj.ctrl_IsEdit" flex="90">
            <summernote height="100" ng-if="NoteObj.ctrl_IsEdit" ng-model="NoteObj.Note"></summernote>
        </md-input-container>

        <div ng-if="NoteObj.ctrl_IsEdit" flex="10">
            <md-button class="md-fab md-mini" aria-label="Save Note" ng-click="SaveChangeNote()">
                <md-tooltip md-direction="top">
                    Save Note
                </md-tooltip>
                <md-icon class="material-icons">save</md-icon>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Cancel Note" ng-click="CancelChangeNote()">
                <md-tooltip md-direction="top">
                    Cancel
                </md-tooltip>
                <md-icon class="material-icons">cancel</md-icon>
            </md-button>
        </div>
    </div>
</div>