
<div class="container-fluid" style="max-width:85vw;padding:0px !important"> <!--ng-controller="MainCtrl"-->

    <md-content>
        <md-tabs md-border-bottom style="min-height: 500px;">
            <md-tab label="{{c.Category}}" ng-repeat="c in categories">
                <md-content class="md-padding" layout="column" layout-fill>
                    <div layout="row" flex="15">
                        <div flex="70">
                            <h6 class="md-display">{{c.Category}}</h6>
                        </div>
                        <!--<div flex>
                            <md-input-container md-no-float class="md-block" style="margin:0px;">
                                <md-icon class="material-icons" style="color: dodgerblue">search</md-icon>
                                <input ng-model="search" type="text" placeholder="Search">
                            </md-input-container>
                        </div>-->
                    </div>
                    <div layout="column" layout-wrap style="max-height: 500px;">
                        <div flex="40" ng-repeat="s in states">
                            <md-button class="md-primary" style="text-align:left !important; margin:0px !important" ng-click="ShowStateTopicsDialog($event, s, c.CategoryId)">
                                {{s.StateName}}
                            </md-button>
                        </div>
                    </div>

                </md-content>
            </md-tab>

            <md-tab label="Multi-State by Topic">
                <md-content class="md-padding">

                    <h6 class="md-display">Multi-State by Topic</h6>

                    <hr />

                    <div layout="column">
                        <md-radio-group ng-model="select_Category" class="md-primary" layout="row"  ng-model-options="{trackBy: '$value.CategoryId'}">

                            <md-radio-button ng-repeat="c in categories"
                                             ng-value="c"
                                             class="md-align-top-left">
                                {{ c.Category }}<br />

                            </md-radio-button>

                        </md-radio-group>

                        <md-input-container ng-controller="SummaryCtrl">
                            <label>Subject</label>
                            <md-select ng-model="select_Subject" ng-model-options="{trackBy: '$value.Subject'}" ng-change="SearchTopics_by_Subject()">
                                <md-option ng-repeat="s in subjects" ng-value="s">
                                    {{s.Subject}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    
                        <div layout="row" layout-wrap flex>
                            <div flex-xs flex="50">
                                <md-checkbox aria-label="Select All"
                                             ng-checked="isChecked()"
                                             md-indeterminate="isIndeterminate()"
                                             ng-click="toggleAll()">
                                    <span ng-if="isChecked()">Un-</span>Select All
                                </md-checkbox>
                            </div>
                            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="TopicState in subjectTopicStates">
                                <md-checkbox ng-checked="exists(TopicState, selected_multi_states)" ng-click="toggle(TopicState, selected_multi_states)">
                                    {{ TopicState }}
                                </md-checkbox>
                            </div>
                        </div>
                    </div>

                    <hr />

                </md-content>
            </md-tab>

        </md-tabs>
    </md-content>


</div>
