<style>
    .md-display{
        padding-bottom: 5px;
    }
</style>


<div class="container-fluid" style="max-width:85vw;padding:0px !important"> <!--ng-controller="MainCtrl"-->

    <md-content>
        <md-tabs md-border-bottom style="min-height: 600px;">
            <md-tab label="{{c.Category}}" ng-repeat="c in categories" md-on-select="hideSearchResultView()">
                <md-content class="md-padding" style="min-height: 530px;" layout="column" layout-fill>
                    <div layout="row" flex="15">
                        <div flex="70">
                            <h6 class="md-display">{{c.Category}}</h6>
                        </div>
                        <div flex>
                            <md-input-container md-no-float class="md-block" style="margin:0px;">
                                <md-icon class="material-icons" style="color: dodgerblue">search</md-icon>
                                <input ng-model="search" type="text" placeholder="Search topics" ng-keyup="onEnterSearch($event,search, c.CategoryId)">
                            </md-input-container>
                        </div>
                    </div>
                    <!--tab content-->
                    <div layout="column" layout-wrap ng-if="!showSearchResult" style="max-height: 500px;">
                        <div ng-repeat="s in states | orderBy:'StateName'">
                            <md-button class="md-primary" style="text-align:left !important; margin:0px !important" ng-click="ShowStateTopicsDialog($event, s, c.CategoryId)">
                                {{s.StateName}}
                            </md-button>
                        </div>
                    </div>
                    <!-- search results-->
                    <div layout="column" ng-if="showSearchResult">
                        <div flex="5">
                            <a ng-click="hideSearchResultView()">Back to State List</a>
                        </div>
                        <div flex ng-include="'views/topics.html'"></div>
                    </div>

                </md-content>
            </md-tab>

            <md-tab label="Multi-State by Topic" md-on-select="hideSearchResultView()">
                <md-content class="md-padding">

                    <h6 class="md-display">Multi-State by Topic</h6>

                    <div layout="column">
                        <hr />

                        <md-radio-group ng-model="select_Category" class="md-primary" layout="row" ng-model-options="{trackBy: '$value.CategoryId'}">

                            <md-radio-button ng-repeat="c in categories"
                                             ng-value="c"
                                             class="md-align-top-left"
                                             aria-label="{{c.Category}}">
                                {{ c.Category }}<br />

                            </md-radio-button>

                        </md-radio-group>


                        <label>Subject</label>
                        <md-select aria-label="Select Subject" ng-model="select_Subject" ng-model-options="{trackBy: '$value.Subject'}" ng-change="SearchTopics_by_Subject()">
                            <md-option ng-value="">
                                Please select a subject...
                            </md-option>
                            <md-option ng-repeat="s in subjects | orderBy:'Subject'" ng-value="s">
                                {{s.Subject}}
                            </md-option>
                        </md-select>
                    
                        <div layout="column" layout-wrap flex ng-if="subjectTopicStates.length > 0">
                            <div flex-xs flex="10">
                                <md-checkbox aria-label="Select All"
                                             ng-checked="isChecked()"
                                             md-indeterminate="isIndeterminate()"
                                             ng-click="toggleAll()">
                                    <span ng-if="isChecked()">Un-</span>Select All
                                </md-checkbox>
                            </div>
                            <div layout="row" layout-wrap flex>
                                <div flex="20" class="demo-select-all-checkboxes" ng-repeat="TopicState in subjectTopicStates | orderBy">
                                    <md-checkbox ng-checked="exists(TopicState, selectedMultiStates)" ng-click="toggle(TopicState, selectedMultiStates)">
                                        {{ TopicState }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>
                        
                        <hr />

                        <!--multi state by topic filter results-->
                        <div layout="column" ng-if="showBySubjectResult">
                            <div flex ng-include="'views/topics.html'"></div>
                        </div>

                    </div>

                </md-content>
            </md-tab>

        </md-tabs>
    </md-content>


</div>
