
<div class="container-fluid" style="max-width:80vw;"> <!--ng-controller="MainCtrl"-->

    <md-content>
        <md-tabs md-border-bottom style="min-height: 500px;">
            <md-tab label="{{c.Category}}" ng-repeat="c in categories">
                <md-content class="md-padding">
                    <h6 class="md-display">{{c.Category}}</h6>

                    <div layout="column" layout-wrap style="max-height: 500px;">
                        <div flex="40" ng-repeat="s in states">
                            <md-button class="md-primary" style="text-align:left !important; margin:0px !important" ng-click="ShowStateTopicsDialog($event, s, c.CategoryId)">
                                {{s.StateName}}
                            </md-button>
                        </div>
                    </div>

                </md-content>
            </md-tab>

            <md-tab label="Multi-State by Topic">
                <md-content class="md-padding">

                    <h6 class="md-display">Multi-State by Topic</h6>

                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="s in subjects">
                            <div class="md-list-item-text">
                                <h3>{{s.Subject}}</h3>
                                <div style="padding-left:50;">
                                    <div layout="row" layout-wrap>
                                        <div flex="20" ng-repeat="t in allTopics | filter:s.Subject:true | unique: 'State'">
                                            <md-button class="md-primary" style="text-align:left !important; margin:0px !important" ng-click="ShowSubjectTopicsDialog($event, allTopics, s.Subject, t.State.StateCode)">
                                                {{t.State.StateName}}
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <md-divider md-inset ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>

                </md-content>
            </md-tab>

        </md-tabs>
    </md-content>


</div>
