
<md-dialog class="cPrint" aria-label="title" flex="80">
    <!-- use flex to control dialog size  flex="50" -->
    <form ng-cloak class="cPrint">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color:white !important">{{title}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="cPrint">
            <div class="md-dialog-content cPrint" style="text-align:left">
                
                <!--State Note section-->
                <div ng-include="'views/statenote.html'"></div>

                <!--Topic List section-->
                <!--<div class="cPrint" ng-include="'views/topics.html'"></div>-->
                <topiclist info="Info"></topiclist>

            </div>
        </md-dialog-content>

        <!--Dialog Controls-->
        <md-dialog-actions class="cScreenOnly" layout="row">
            <md-button ng-click="print()">
                Print Document
            </md-button>
            <md-button ng-if="isAdmin===true && isAllowEdit" ng-click="NoteObj.ctrl_IsEdit = true">
                Edit State Note
            </md-button>
            <md-button ng-if="isAdmin===true && isAllowEdit" ng-click="AddNewTopic()">
                Add Topic
            </md-button>
            <md-button ng-click="CancelDialog()">
                close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>