<md-dialog aria-label="title">
    <!-- use flex to control dialog size  flex="50" -->
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color:white !important">{{title}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" style="text-align:left">
                <md-content>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="stateTopic in Topics">
                            <div class="md-list-item-text" ng-if="stateTopic.TopicId!='' && !stateTopic.isEdit">
                                <div layout="row" layout-wrap layout-align="end center">
                                    <div>
                                        <button type="button" class="btn btn-link btn-sm" ng-click="EditTopic(stateTopic)">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-link btn-sm" ng-click="DeleteTopic(stateTopic)">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <h3>{{stateTopic.Subject}}</h3>
                                <p ng-bind-html="stateTopic.Content"></p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>

                            <div class="md-list-item-text" ng-if="stateTopic.TopicId=='' || stateTopic.isEdit">
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="stateTopic.Subject" placeholder="Topic" md-autofocus>
                                </md-input-container>
                                <summernote ng-model="stateTopic.Content"><span style="font-weight: bold;"></span></summernote>

                                <div layout="row" layout-wrap layout-align="end center">
                                    <div>
                                        <button type="button" class="btn btn-default btn-sm" ng-click="SaveChange(stateTopic)">
                                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-default btn-sm" ng-click="CancelChange(stateTopic)">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </md-list-item>
                        <div ng-if="isAllowEdit && stateTopics.length == 0">
                            {{title}} has enacted no statute specifically regulating distributor relationships for marine engines.
                        </div>
                    </md-list>
                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="print()">
                Print Document
            </md-button>
            <md-button ng-if="isAllowEdit" ng-click="AddNewTopic('topic')">
                Add Topic
            </md-button>
            <md-button ng-click="cancel()">
                close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>